{
	"openapi": "3.0.1",
	"info": {
		"title": "API https://tvoe-dev.ru/",
		"version": "v1",
		"description": "Изменения 25.10.2023 - 1) Роуты POST profile/notification,  DELETE profile/notification, PATCH profile/notification, GET profile/notification/count,  GET profile/notifications/countAll   переместились в POST admin/notification,  DELETE admin/notification, PATCH admin/notification, GET admin/notification/count,  GET admin/notifications/countAll соответственно. 2) В ответе ендпоинта GET search/oftenSeek удалил несколько полей, оставив id, дату релиза, url, постер, название"
	},
	"servers": [{ "url": "https://api.1390760-cu92735.tw1.ru/" }],
	"components": {
		"parameters": {
			"AuthorizationHeader": {
				"name": "token",
				"in": "header",
				"description": "Access token только для возможности отправлять запросы из свагера",
				"required": true,
				"schema": {
					"type": "string",
					"default": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1MDQ1ZjRiMWJkNmRkYzM2NDI5MDlmYiIsImlhdCI6MTY5NjQ4OTA0MCwiZXhwIjoxNzI4MDQ2NjQwfQ.hhoCzqDtsVMlXZ1BBzwJOgqwJPGGQr-kTNl05aNWQ_Q"
				}
			}
		},
		"schemas": {
			"AuthLog": {
				"type": "object",
				"properties": {
					"userId": {
						"type": "string",
						"description": "Id пользователя",
						"example": "63ac7a31b2c93ed2212180d0"
					},
					"type": { "type": "string", "enum": ["LOGIN", "LOGOUT"], "example": "LOGIN" },
					"token": {
						"type": "string",
						"description": "JWT token",
						"example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYzYWM3YTMxYjJjOTNlZDIyMTIxODBkMCIsImlhdCI6MTY3MjY3OTIxNywiZXhwIjoxNzA0MjM2ODE3fQ.gngYwApyYXgzS2mKtzQU946tH2LrG7ApIVDtFE-2pgo"
					}
				}
			},
			"Category": {
				"type": "object",
				"properties": {
					"name": { "type": "string", "description": "Фильмы или Сериалы", "example": "Фильмы" },
					"alias": { "type": "string", "description": "films или serials", "example": "films" },
					"aliasInUrl": {
						"type": "string",
						"description": "filmy или serialy",
						"example": "films"
					},
					"genres": {
						"type": "array",
						"description": "Массив объектов",
						"items": {
							"type": "object",
							"properties": {
								"name": {
									"type": "string",
									"description": "Название категории на русском",
									"example": "Биографии"
								},
								"alias": {
									"type": "string",
									"description": "Alias категории на английском",
									"example": "biografii"
								}
							}
						}
					}
				}
			},
			"CleanupLog": {
				"type": "object",
				"properties": {
					"src": { "type": "string", "description": "источник", "example": "Нет примера" },
					"thumbnail": { "type": "string", "description": "thumbnail", "example": "Нет примера" }
				}
			},
			"Movie": {
				"type": "object",
				"properties": {
					"name": { "type": "string", "description": "Название", "example": "Армия воров" },
					"origName": {
						"type": "string",
						"description": "Оригинальное название",
						"example": "Army of Thieves"
					},
					"shortDesc": {
						"type": "string",
						"description": "Краткое описание",
						"example": "В этом приквеле «Армии мертвецов» загадочная женщина нанимает банковского служащего Дитера, чтобы тот помог взломать три легендарных сейфа в разных частях Европы."
					},
					"fullDesc": {
						"type": "string",
						"description": "Полное описание",
						"example": "Скромный банковский служащий Себастиан ведёт непопулярный видеоблог, в котором рассказывает об увлечении всей жизни — взломе сейфов. Разумеется, законопослушный парень никогда не применял свои навыки в криминальной деятельности, но однажды на него выходит команда разыскиваемых Интерполом преступников и делает предложение, от которого невозможно отказаться. Пока в Штатах разворачивается зомби-эпидемия, они планируют взломать три находящихся в Европейских банках легендарных сейфа, созданных великим мастером Хансом Вагнером по мотивам опер своего знаменитого тёзки."
					},
					"ageLevel": { "type": "number", "description": "Возрастное ограничение", "example": 16 },
					"dateReleased": {
						"type": "string",
						"description": "Дата выпуска (HHHH-MM-DD формат)",
						"example": "2021-10-28T00:00:00.000Z"
					},
					"countries": {
						"type": "array",
						"description": "Массив стран",
						"example": ["Германия", "США"],
						"items": { "type": "string", "description": "Страна", "example": "Германия" }
					},
					"alias": { "type": "string", "description": "films или serials", "example": "films" },
					"duration": {
						"type": "string",
						"description": "Длительность фильма в секундах",
						"example": 34534
					},
					"categoryAlias": {
						"type": "string",
						"description": "Категория - films или serials",
						"example": "films"
					},
					"rating": {
						"type": "number",
						"description": "Рейтинг фильма по оценкам пользователей ( от 1 до 10)",
						"example": 7
					},
					"genresAliases": {
						"type": "array",
						"description": "Массив жанров",
						"example": ["boeviki", "trillery"],
						"items": { "type": "string" }
					},
					"badge": {
						"type": "object",
						"description": "Бейдж",
						"reqired": false,
						"properties": {
							"type": {
								"type": "string",
								"descriptipn": "newSeason - новый сезон, premiere - премьера"
							},
							"startAt": { "type": "date", "descriptipn": "Дата начала показа бейджа" },
							"finishAt": { "type": "date", "descriptipn": "Дата окончания показа бейджа" }
						}
					},
					"persons": {
						"required": false,
						"type": "array",
						"description": "Список актёров и преставителей съемочной группы",
						"uniqueItems": true,
						"minItems": 0,
						"items": {
							"type": "object",
							"properties": {
								"_id": { "type": "string", "description": "mongoose.ObjectId" },
								"name": { "type": "string", "description": "Имя и фамилия человека" },
								"type": {
									"type": "string",
									"description": "director - режиссер, actor - актер, producer - продюсер, screenwriter - сценарист, operator - оператор"
								}
							}
						}
					},
					"series": {
						"type": "array",
						"description": "Список серий. Приходят в во вложенном массиве",
						"uniqueItems": true,
						"minItems": 0,
						"items": {
							"type": "array",
							"description": "Список серий",
							"uniqueItems": true,
							"minItems": 0,
							"items": {
								"type": "object",
								"properties": {
									"_id": { "type": "string", "description": "Id cерии (mongoose.ObjectId)" },
									"src": {
										"type": "string",
										"description": "Источник на файл ( путь к исходнику )"
									},
									"duration": { "type": "number", "description": "Продолжительность серии" },
									"thumbnail": { "type": "string", "description": "Миниатюра (кадр из видео)" },
									"version": { "type": "number", "description": "Версия видео" },
									"status": {
										"type": "string",
										"description": "UPLOADING - загружается, READY - доступно к просмотру"
									},
									"managerUserId": {
										"type": "string",
										"description": "Id менеджера, загружающего видео"
									},
									"lastUpdateAt": {
										"type": "date",
										"description": "Дата последнего обновления (для загрузки и удаления)"
									},
									"qualities": {
										"type": "array",
										"description": "Доступные качества видео",
										"items": { "type": "string" }
									},
									"audio": {
										"type": "array",
										"description": "Названия аудиодорожек",
										"items": { "type": "string" }
									},
									"subtitles": {
										"type": "array",
										"description": "Названия субтитров",
										"items": { "type": "string" }
									},
									"files": {
										"type": "object",
										"properties": {
											"fragments": {
												"type": "object",
												"properties": {
													"420p": { "type": "array", "items": { "type": "number" } },
													"720p": { "type": "array", "items": { "type": "number" } },
													"1080p": { "type": "array", "items": { "type": "number" } }
												}
											},
											"thumbnails": {
												"type": "number",
												"description": "Количество склеек миниатюр"
											}
										}
									}
								}
							}
						}
					},
					"films": {
						"type": "array",
						"description": "Список из одного объекта - фильма, если categoryAlias = films. Если categoryAlias = series, то здесь null",
						"uniqueItems": true,
						"minItems": 0,
						"items": {
							"type": "object",
							"properties": {
								"_id": { "type": "string", "description": "Id фильма (mongoose.ObjectId)" },
								"src": { "type": "string", "description": "Источник на файл ( путь к исходнику )" },
								"duration": { "type": "number", "description": "Длительность фильма" },
								"thumbnail": { "type": "string", "description": "Миниатюра (кадр из видео)" },
								"version": { "type": "number", "description": "Версия видео" },
								"status": {
									"type": "string",
									"description": "UPLOADING - загружается, READY - доступно к просмотру"
								},
								"managerUserId": {
									"type": "string",
									"description": "Id менеджера, загружающего видео"
								},
								"lastUpdateAt": {
									"type": "date",
									"description": "Дата последнего обновления (для загрузки и удаления)"
								},
								"qualities": {
									"type": "array",
									"description": "Доступные качества видео",
									"items": { "type": "string" }
								},
								"audio": {
									"type": "array",
									"description": "Названия аудиодорожек",
									"items": { "type": "string" }
								},
								"subtitles": {
									"type": "array",
									"description": "Названия субтитров",
									"items": { "type": "string" }
								},
								"files": {
									"type": "object",
									"properties": {
										"fragments": {
											"type": "object",
											"properties": {
												"420p": { "type": "array", "items": { "type": "number" } },
												"720p": { "type": "array", "items": { "type": "number" } },
												"1080p": { "type": "array", "items": { "type": "number" } }
											}
										},
										"thumbnails": { "type": "number", "description": "Количество склеек миниатюр" }
									}
								}
							}
						}
					},
					"createdAt": { "type": "Date", "description": "Дата создания" },
					"updatedAt": { "type": "Date", "description": "Дата обновления" },
					"poster": {
						"type": "object",
						"properties": {
							"id": { "type": "string", "description": "mongoose.ObjectId" },
							"src": { "type": "string", "description": "Путь к файлу изображению постера" }
						}
					},
					"cover": {
						"type": "object",
						"properties": {
							"id": { "type": "string", "description": "Mongoose.ObjectId" },
							"src": { "type": "string", "description": "Путь к файлу изображению обложки" }
						}
					},
					"trailer": {
						"type": "object",
						"properties": {
							"id": { "type": "string", "description": "Mongoose.ObjectId" },
							"src": { "type": "string", "description": "Путь к файлу изображению обложки" },
							"thumbnail": { "type": "string", "description": "Миниатюра (кадр из видео)" },
							"duration": { "type": "number", "description": "Длительность" }
						}
					},
					"logo": {
						"type": "object",
						"properties": {
							"id": { "type": "string", "description": "mongoose.ObjectId" },
							"src": { "type": "string", "description": "Путь к файлу изображению логотипа" }
						}
					},
					"raisedUpAt": {
						"type": "Date",
						"description": "Дата поднятия в списке (для актуальности)"
					},
					"publishedAt": { "type": "Date", "description": "Дата публикации" },
					"willPublishedAt": { "type": "Date", "description": "Планируемая дата публикации" },
					"deletedAt": { "type": "Date", "description": "Дата удаления" },
					"creatorUserId": { "type": "Date", "description": "ID создателя" }
				}
			},
			"MovieBookmark": {
				"type": "object",
				"properties": {
					"movieId": { "type": "string", "description": "Id фильма" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"isBookmark": { "type": "boolean", "description": "добавлен ли фильм в закладки" }
				}
			},
			"MovieFavorite": {
				"type": "object",
				"properties": {
					"movieId": { "type": "string", "description": "Id фильма" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"isFavorite": { "type": "boolean", "description": "добавлен ли фильм в избранное" }
				}
			},
			"MoviePageLog": {
				"type": "object",
				"properties": {
					"movieId": { "type": "string", "description": "Id фильма" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"videoId": { "type": "string", "description": "Id файла видео" },
					"startTime": { "type": "number", "description": "Время начала просмотра" },
					"endTime": { "type": "number", "description": "Время окончания просмотра" },
					"referer": { "type": "string", "description": "добавлен ли фильм в избранное" },
					"device": {
						"type": "object",
						"description": "Информация про устройство пользователя с которого он смотрел фильм/сериал",
						"properties": {
							"ip": { "type": "string", "description": "ip адрес", "example": "37.144.237.60" },
							"os": {
								"type": "string",
								"description": "Операционная система устройства",
								"example": "OS X"
							},
							"browser": { "type": "string", "description": "Браузер", "example": "Chrome" },
							"version": {
								"type": "string",
								"description": "Версия браузера",
								"example": "108.0.0.0"
							},
							"platform": {
								"type": "string",
								"description": "Платформа устройства",
								"example": "Apple Mac"
							},
							"isBot": { "type": "boolean", "description": "Является ли пользователь ботом" },
							"isMobile": { "type": "boolean", "description": "Является ли устройство мобильным" },
							"isDesktop": { "type": "boolean", "description": "Является ли устройство десктопом" }
						}
					}
				}
			},
			"MovieRating": {
				"type": "object",
				"properties": {
					"movieId": { "type": "string", "description": "Id фильма" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"rating": { "type": "number", "description": "Оценка от пользователя" },
					"review": { "type": "number", "description": "Комментарий от пользователя" },
					"isPublished": { "type": "boolean", "description": "Был ли отзыв опубликован" },
					"isDeleted": { "type": "boolean", "description": "Был ли отзыв удален" }
				}
			},
			"Notification": {
				"type": "object",
				"properties": {
					"title": { "type": "string", "description": "Название уведомления" },
					"description": { "type": "string", "description": "Описание уведомления" },
					"type": {
						"type": "string",
						"description": "Тип уведомления. Может быть Новости сервиса, подарки и акции, профиль (напоминание об окончании подписки и индивидуальные предложения), Новинки кинематографа, новинки на сервисе, новинки из раздела \"Избранное\" и \"Буду смотреть\"",
						"enum": [
							"SERVICE_NEWS",
							"GIFTS_AND_PROMOTIONS",
							"PROFILE",
							"CINEMA_NEWS",
							"SERVICE_NEWS",
							"FAVOTITES_AND_BOOKMARKS_NEWS"
						]
					},
					"willPublishedAt": { "type": "date", "description": "Планируемая дата публикации" },
					"isPublished": { "type": "boolean", "description": "Был ли отзыв опубликован" },
					"deleted": { "type": "boolean", "description": "Было ли уведомление удалено" },
					"link": { "type": "string", "description": "Ссылка" },
					"receiversIds": {
						"type": "array",
						"description": "Массив получателей сообщения. Если это поле null, значит уведмоление отправляется всем пользователям",
						"items": { "type": "string" }
					},
					"img": {
						"type": "object",
						"properties": {
							"_id": { "type": "string", "description": "Id изображения" },
							"src": { "type": "string", "description": "Путь к файлу" }
						}
					}
				}
			},
			"NotificationReadLog": {
				"type": "object",
				"properties": {
					"notificationId": { "type": "string", "description": "Id уведомления" },
					"userId": { "type": "string", "description": "Id пользователя" }
				}
			},
			"PaymentLog": {
				"type": "object",
				"properties": {
					"tariffId": { "type": "string", "description": "Id тарифа" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"type": {
						"type": "string",
						"description": "Тип платежного лога.  'trial' -  Пробная подписка,  'paid' - Оплачен пользователем, \t'issued-by-admin' - Выдан администратором",
						"enum": ["trial", "paid", "issued-by-admin"]
					},
					"isChecked": {
						"type": "boolean",
						"description": "Проверен ли пользователем статус подписки"
					},
					"startAt": { "type": "date", "description": "Дата начала действия тарифа" },
					"finishAt": { "type": "date", "description": "Дата конца действия тарифа" },
					"terminalKey": {
						"type": "string",
						"description": "Идентификатор терминала. Выдается Мерчанту Тинькофф Кассой при заведении терминала."
					},
					"amount": { "type": "number", "description": "Сумма пополнения" },
					"refundedAmount": {
						"type": "number",
						"description": "Сумма возврата или частичного возврата"
					},
					"orderId": { "type": "string", "description": "Идентификатор заказа в системе Мерчанта" },
					"success": { "type": "boolean", "description": "Выполнение платежа" },
					"status": {
						"type": "string",
						"description": "Статус платежа.  'AUTHORIZED' -  Пробная подписка,  'CONFIRMED' - Оплачен пользователем, 'PARTIAL_REVERSED' - Частичная отмена, 'REVERSED' - Операция отменена, 'PARTIAL_REFUNDED' - Произведён частичный возврат, 'REFUNDED' - Произведён возврат, 'REJECTED' - Списание денежных средств закончилась ошибкой, '3DS_CHECKING' - Автоматическое закрытие сессии, которая превысила срок пребывания в статусе 3DS_CHECKING (более 36 часов)",
						"enum": [
							"AUTHORIZED",
							"CONFIRMED",
							"PARTIAL_REVERSED",
							"REVERSED",
							"PARTIAL_REFUNDED",
							"REFUNDED",
							"REJECTED",
							"3DS_CHECKING"
						]
					},
					"paymentId": {
						"type": "string",
						"description": "Уникальный идентификатор транзакции в системе Тинькофф Кассы"
					},
					"errorCode": { "type": "string", "description": "Код ошибки. «0» в случае успеха" },
					"message": { "type": "string", "description": "Краткое описание ошибки" },
					"details": { "type": "string", "description": "Подробное описание ошибки" },
					"rebillId": { "type": "string", "description": "Идентификатор автоплатежа" },
					"cardId": {
						"type": "number",
						"description": "Идентификатор карты в системе Тинькофф Кассы"
					},
					"pan": {
						"type": "string",
						"description": "Замаскированный номер карты/Замаскированный номер телефона"
					},
					"expDate": {
						"type": "string",
						"description": "Срок действия карты В формате MMYY, где YY — две последние цифры года"
					},
					"token": {
						"type": "string",
						"description": "Токен для проверки подлинности запроса (удаляется после успешной операции)"
					}
				}
			},
			"Promocode": {
				"type": "object",
				"properties": {
					"maxAmountActivation": {
						"type": "number",
						"description": "Максимальное количество возможных активаций промокода"
					},
					"currentAmountActivation": {
						"type": "number",
						"description": "Текущее количество активаций промокода"
					},
					"tariffName": {
						"type": "string",
						"description": "Вид тарифа",
						"enum": ["1 месяц", "3 месяца", "6 месяцев"]
					},
					"isOnlyForNewUsers": {
						"type": "boolean",
						"description": "Доступен ли промокод только новым пользователем или нет. Пользователь считается новым если он прежде не оплачивал подписку"
					},
					"isActive": {
						"type": "boolean",
						"description": "Является ли промокод активным в данный момент"
					},
					"sizeDiscount": {
						"type": "number",
						"description": "Размер скидки - число в рублях (если discountFormat = rubles) или процентах ( если discountFormat = percentages). Если discountFormat = free-month, тогда sizeDiscount = null"
					},
					"value": {
						"type": "string",
						"description": "Комбинация символов, которую пользователь вводит в качестве значения промокода"
					},
					"startAt": { "type": "date", "description": "Дата начала действия промокода" },
					"finishAt": { "type": "date", "description": "Дата конца действия промокода" },
					"deleted": { "type": "boolean", "description": "Удален ли промокод" }
				}
			},
			"PromocodesLog": {
				"type": "object",
				"properties": {
					"promocodeId": { "type": "string", "description": "Id промокода" },
					"userId": { "type": "string", "description": "Id пользователя" },
					"isCancelled": {
						"type": "boolean",
						"description": "Отменен ли данный промокод пользователем"
					},
					"isPurchaseCompleted": {
						"type": "boolean",
						"description": "Совершена ли покупка по указанному промокоду"
					}
				}
			},
			"ReferralWithdrawalLog": {
				"type": "object",
				"properties": {
					"approverUserId": {
						"type": "string",
						"description": "ID сотрудника ответившего на заявку"
					},
					"userId": { "type": "string", "description": "ID пользователя отправившего заявку" },
					"amount": { "type": "number", "description": "Сумма вывода" },
					"status": {
						"type": "string",
						"description": "Статус заявки. canceled - отказ, pending - в процессе, success - успешно",
						"card": {
							"description": "Данные карты для вывода баланса",
							"type": "object",
							"properties": {
								"number": { "type": "string", "description": "Номер карты" },
								"cardholder": { "type": "string", "description": "Владелец карты" }
							}
						}
					}
				}
			},
			"SearchLog": {
				"type": "object",
				"properties": {
					"query": { "type": "string", "description": "Запрос в поисковой строке" },
					"userId": { "type": "string", "description": "ID пользователя" },
					"device": {
						"type": "object",
						"description": "Информация про устройство пользователя с которого он производил поиск",
						"properties": {
							"ip": { "type": "string", "description": "ip адрес", "example": "37.144.237.60" },
							"os": {
								"type": "string",
								"description": "Операционная система устройства",
								"example": "OS X"
							},
							"browser": { "type": "string", "description": "Браузер", "example": "Chrome" },
							"version": {
								"type": "string",
								"description": "Версия браузера",
								"example": "108.0.0.0"
							},
							"platform": {
								"type": "string",
								"description": "Платформа устройства",
								"example": "Apple Mac"
							},
							"isBot": { "type": "boolean", "description": "Является ли пользователь ботом" },
							"isMobile": { "type": "boolean", "description": "Является ли устройство мобильным" },
							"isDesktop": { "type": "boolean", "description": "Является ли устройство десктопом" }
						}
					}
				}
			},
			"Tariff": {
				"type": "object",
				"description": "Список тарифов",
				"properties": {
					"name": { "type": "string", "description": "Название" },
					"sort": { "type": "string", "description": "Сортировка" },
					"price": { "type": "number", "description": "Цена" },
					"hidden": { "type": "boolean", "description": "Скрыт ли нет" },
					"duration": { "type": "number", "description": "Длительность" }
				}
			},
			"User": {
				"type": "object",
				"description": "Пользователи",
				"properties": {
					"initial_email": {
						"type": "string",
						"description": "Емайл полученный от яндекса через oath"
					},
					"initial_id": { "type": "string", "description": "Id полученный от яндекса через oath" },
					"initial_sex": {
						"type": "string",
						"description": "Пол полученный от яндекса через oath"
					},
					"initial_phone": {
						"type": "string",
						"description": "Телефон полученный от яндекса через oath"
					},
					"initial_birthday": {
						"type": "string",
						"description": "День рождения полученный от яндекса через oath"
					},
					"initial_firstname": {
						"type": "string",
						"description": "Имя полученное от яндекса через oath"
					},
					"initial_lastname": {
						"type": "string",
						"description": "Фамилия полученная от яндекса через oath"
					},
					"initial_client_id": { "type": "string" },
					"initial_displayName": {
						"type": "string",
						"description": "Отоброжаемое имя полученное от яндекса"
					},
					"email": { "type": "string", "description": "Емайл" },
					"sex": { "type": "string", "description": "Пол" },
					"phone": { "type": "string", "description": "Телефон" },
					"birthday": { "type": "string", "description": "День рождения" },
					"firstname": { "type": "string", "description": "Имя" },
					"lastname": { "type": "string", "description": "Фамилия" },
					"avatar": { "type": "string", "description": "Путь к аватарке" },
					"displayName": { "type": "string", "description": "Отображаемое имя" },
					"sessions": {
						"type": "array",
						"description": "Список сессий",
						"uniqueItems": true,
						"minItems": 0,
						"items": {
							"type": "object",
							"properties": {
								"token": { "type": "string", "description": "JWT Токен юзера" },
								"ip": { "type": "string", "description": "Ip адресс юзера" },
								"os": { "type": "string", "description": "Операционная система устройства" },
								"isBot": { "type": "boolean", "description": "Является ли юзер ботом" },
								"isMobile": {
									"type": "boolean",
									"description": "Является ли дейвайс мобильным устройством"
								},
								"isDesktop": {
									"type": "boolean",
									"description": "Является ли дейвайс десктопным устройством"
								},
								"browser": { "type": "string", "description": "Название браузера" },
								"version": { "type": "string", "description": "Версия браузера" },
								"platform": { "type": "string", "description": "Платформа устройства ( ос)" },
								"createdAt": { "type": "Date", "description": "Дата создания" },
								"_id": {
									"type": "string",
									"description": "Id сессии (mongoose.Schema.Types.ObjectId)"
								}
							}
						}
					},
					"subscribe": {
						"type": "object",
						"description": "Информация по подписке. Если подписки нет, в этом поле null",
						"properties": {
							"startAt": { "type": "Date", "description": "Дата начала подписки" },
							"finishAt": { "type": "Date", "description": "Дата окончания подписки" },
							"tariffId": { "type": "string", "description": "Id тарифа (mongoose.ObjectId)" }
						}
					},
					"allowTrialTariff": { "type": "boolean", "description": "Позволен ли пробный тариф" },
					"role": {
						"type": "string",
						"description": "Admin, manager или, если это обычный пользователь - это поле отсуствует."
					},
					"disabledNotifications": {
						"type": "Array",
						"description": "Типы отключенных уведомлений - 'SERVICE_NEWS'(Новости сервиса - уведомления о технических работах на сайте и новинках обновленного сервиса), 'GIFTS_AND_PROMOTIONS'(Подарки и акции - бонусы для пользователей), 'PROFILE'(Профиль - напоминание об окончании подписки и индивидуальные предложения), 'CINEMA_NEWS'(Новинки кинематографа), 'SERVICE_NOVELTIES'(Новинки на сервисе), 'FAVOTITES_AND_BOOKMARKS_NEWS'(FAVOTITES_AND_BOOKMARKS_NEWS)",
						"items": { "type": "string", "description": "Тип отключенного уведомления" }
					},
					"refererUserId": {
						"type": "string",
						"description": "От какого ID пользователя был приглашен по реферальной программе"
					},
					"referral": {
						"type": "object",
						"properties": {
							"balance": { "type": "number", "description": "Баланс в реферальной программе" },
							"card": {
								"type": "object",
								"description": "Данные карты для вывода баланса",
								"properties": {
									"number": { "type": "string", "description": "Номер карты" },
									"cardholder": { "type": "string", "description": "Владелец карты" }
								}
							}
						}
					},
					"lastVisitAt": { "type": "Date", "description": "Дата последнего посещения" },
					"banned": { "type": "boolean", "description": "Дата блокировки и восстановления" },
					"deleted": { "type": "boolean", "description": "Дата удаления и восстановления" }
				}
			},
			"UserDeletionLog": {
				"type": "object",
				"description": "Журнал удалений аккаунтов",
				"properties": {
					"userId": { "type": "string", "description": "Id пользователя" },
					"isRefund": {
						"type": "string",
						"description": "Хочет ли пользователь оформить возврат средств за оставшиеся дни подписки"
					},
					"reason": {
						"type": "object",
						"properties": {
							"text": {
								"type": "string",
								"description": "Комментарий пользователя почему хочет удалить аккаунт"
							},
							"types": {
								"type": "array",
								"description": "Хочет ли пользователь оформить возврат средств за оставшиеся дни подписки",
								"items": {
									"description": "NOT_ENOUGH_CONTENT не достаточно контента, BAD_QUALITY_VIDEO Плохое качество видео, BAD_SOUND(Плохой звук), NOT_MATCH_TARIFF(Нет подходящего тарифа), HIGH_COST_SUBSCRIBTION (Высокая стоимость подписки)",
									"type": "string"
								}
							}
						}
					},
					"refundStatus": {
						"type": "string",
						"enum": ["CONFIRMED", "REJECTED", "WAITING"],
						"description": "Статус возврата. CONFIRMED Операция подтверждена; REJECTED Операция отклонена; WAITING Операция в режиме ожидания"
					},
					"refundAmount": {
						"type": "number",
						"description": "Cумма денег для возврата пользователю ( если значение isRefund = true)"
					}
				}
			},
			"WithdrawalLog": {
				"type": "object",
				"description": "Журнал удалений аккаунтов",
				"properties": {
					"userId": { "type": "string", "description": "ID пользователя отправившего заявку" },
					"managerUserId": { "type": "string", "description": "ID менеджера рассотревшего заявку" },
					"reason": {
						"type": "object",
						"properties": {
							"text": {
								"type": "string",
								"description": "Комментарий пользователя почему хочет вернуть деньги"
							},
							"types": {
								"type": "array",
								"description": "Хочет ли пользователь оформить возврат средств за оставшиеся дни подписки",
								"items": {
									"description": "NOT_ENOUGH_CONTENT не достаточно контента, BAD_QUALITY_VIDEO Плохое качество видео, BAD_SOUND(Плохой звук)",
									"type": "string"
								}
							}
						}
					},
					"status": {
						"type": "string",
						"enum": ["WAITING", "CANCELLED", "SUCCESS"],
						"description": "Статус операции. WAITING - Операция в режиме ожидания; CANCELLED В операции отказано; SUCCESS Операция успешно проведена"
					}
				}
			}
		},
		"tags": [
			{ "name": "Profile", "description": "Профиль" },
			{ "name": "Admin", "description": "Административная панель" },
			{ "name": "Catalog", "description": "Каталог" },
			{ "name": "Collections", "description": "Коллекции" },
			{ "name": "Sitemap", "description": "Данные для sitemap.xml" },
			{ "name": "Payment", "description": "Тарифы, создание и обработка платежей" },
			{ "name": "Search", "description": "Поиск" },
			{
				"name": "Auth",
				"description": "Авторизация / регистрация через Яндекс и разрушение сессии"
			},
			{ "name": "Movies", "description": "Фильмы и сериалы" },
			{ "name": "Referral", "description": "Реферальная программа" },
			{ "name": "Promocode", "description": "Промокоды" },
			{ "name": "Complaints", "description": "Жалобы" }
		]
	},
	"paths": {
		"/profile": {
			"get": {
				"summary": "Получение профиля",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": { "type": "string", "description": "Profile id" },
										"email": { "type": "string", "description": "Email user(profile)" },
										"avatar": { "type": "string", "description": "Path to img src profile user" },
										"firstname": { "type": "string", "description": "Имя этого человека" },
										"subscribe": {
											"type": "object",
											"description": "Информация по подписке. Если подписки нет, в этом поле null",
											"properties": {
												"startAt": { "type": "Date", "description": "Дата начала подписки" },
												"finishAt": { "type": "Date", "description": "Дата окончания подписки" },
												"tariffId": {
													"type": "string",
													"description": "Id тарифа (mongoose.ObjectId)"
												}
											}
										},
										"allowTrialTariff": {
											"type": "boolean",
											"description": "Позволен ли пробный тариф"
										},
										"role": {
											"type": "string",
											"description": "Admin, manager или, если это обычный пользователь - это поле отсуствует."
										},
										"disabledNotifications": {
											"type": "Array",
											"description": "Типы отключенных уведомлений - 'SERVICE_NEWS', 'GIFTS_AND_PROMOTIONS', 'PROFILE', 'CINEMA_NEWS', 'SERVICE_NOVELTIES', 'FAVOTITES_AND_BOOKMARKS_NEWS'",
											"items": { "type": "string", "description": "Тип отключенного уведомления" }
										}
									},
									"example": {
										"_id": "4180807e904d20e5d4c1b6qw",
										"email": "alex22@yandex.ru",
										"avatar": null,
										"firstname": "Иван",
										"allowTrialTariff": false,
										"role": "admin",
										"subscribe": {
											"startAt": "2021-04-13T07:41:42.000Z",
											"finishAt": "2021-04-13T07:41:42.000Z",
											"tariffId": "63dbe1687f457bc81bc920cb"
										},
										"disabledNotifications": [
											"GIFTS_AND_PROMOTIONS",
											"FAVOTITES_AND_BOOKMARKS_NEWS"
										]
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Обновление имени профиля",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"firstname": { "type": "string", "description": "Имя пользователя" }
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "Успешно или нет" },
										"alert": { "type": "boolean", "description": "Булевое значение" },
										"msg": {
											"type": "string",
											"description": "Сообщение \"Имя пользователя обновлено\""
										}
									},
									"example": {
										"type": "success",
										"alert": true,
										"description": "Имя пользователя обновлено"
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Удаление профиля",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"isRefund": {
										"type": "string",
										"description": "Желает ли пользователь вернуть средства средства за оставшийся период подписки."
									},
									"reason": {
										"type": "object",
										"description": "Причины удаления аккаунта",
										"properties": {
											"text": {
												"type": "string",
												"description": "Комментарий пользователя почему хочет удалить аккаунт"
											},
											"types": {
												"type": "array",
												"items": {
													"type": "string",
													"description": "Список выбранных пользователем причин - возможные значения - 'NOT_ENOUGH_CONTENT', 'BAD_QUALITY_VIDEO', 'BAD_SOUND', 'NOT_MATCH_TARIFF', 'HIGH_COST_SUBSCRIBTION'"
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"deleted": {
											"type": "object",
											"description": "Информация по срокам удаления. Восстановить аккаунт можно только в течение одного месяца после удаления",
											"properties": {
												"start": { "type": "Date", "description": "Дата удаления" },
												"finish": { "type": "Date", "description": "Дата удаления + 1 месяц" }
											}
										}
									},
									"example": {
										"deleted": {
											"start": "2022-04-13T07:41:42.000Z",
											"finish": "2021-05-13T07:41:42.000Z"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/recover": {
			"get": {
				"summary": "Восстановление профиля",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"deleted": { "type": "null", "description": "Обнуление поля в модели" }
									},
									"example": { "deleted": null }
								}
							}
						}
					}
				}
			}
		},
		"/profile/avatar": {
			"post": {
				"summary": "Загрузка аватарки",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "Исходник сам файл картинки"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"alert": { "type": "boolean", "description": true },
										"src": { "type": "string", "description": "Путь к картинке" },
										"msg": { "type": "string", "description": "Информационное ообщение" }
									},
									"example": {
										"type": "success",
										"alert": "true",
										"src": "/images/648f121558529eee66d83d63.jpg",
										"msg": "Аватар обновлен"
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Удаление аватарки",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "Выводит надпись \"success\"" },
										"src": {
											"type": "null",
											"description": "Здесь происходит обнуление поля в таблице"
										},
										"alert": { "type": "boolean", "description": "Показывает true" },
										"msg": { "type": "string", "description": "Выводит надпись \"Аватар удален\"" }
									},
									"example": {
										"type": "success",
										"src": "null,",
										"alert": "true,",
										"msg": "Аватар удален"
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/favorites": {
			"get": {
				"summary": "Профиль > Избранное",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количество пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"name": { "type": "string", "description": "Название фильма" },
													"shortDesc": { "type": "string", "description": "Краткое описание" },
													"trailer": {
														"type": "object",
														"properties": {
															"id": { "type": "string", "description": "Mongoose.ObjectId" },
															"src": {
																"type": "string",
																"description": "Путь к файлу изображению обложки"
															},
															"thumbnail": {
																"type": "string",
																"description": "Миниатюра (кадр из видео)"
															},
															"duration": { "type": "number", "description": "Длительность" }
														}
													},
													"ageLevel": { "type": "string", "description": "Возрастное ограничение" },
													"dateReleased": { "type": "Date", "description": "Дата релиза" },
													"categoryAlias": {
														"type": "string",
														"description": "Вид категориии. Может быть films, serials или collections"
													},
													"poster": {
														"type": "object",
														"properties": {
															"src": { "type": "string", "description": "Путь к файлу изображению" }
														}
													},
													"rating": { "type": "number", "description": "Рейтинг от 0 до 10" },
													"duration": {
														"type": "string",
														"description": "Длительность фильма в секундах"
													},
													"url": { "type": "string", "description": "Url к фильму" },
													"addedToBookmarkAt": {
														"type": "Date",
														"description": "Дата добавления фильма/cериала в закладки"
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"totalSize": 2,
											"items": [
												{
													"name": "Америка: фильм",
													"shortDesc": "Вооруженный пилами Джордж Вашингтон объединяется с обожающим пиво друганом Сэмом Адамсом, чтобы приструнить британцев в ироничной комедии о Войне за независимость США.",
													"trailer": {
														"_id": "641bf64b0073f02ab65dde80",
														"src": "/videos/641bf64b0073f02ab65dde7f.mp4",
														"thumbnail": "/images/641bf64b0073f02ab65dde81.jpg"
													},
													"ageLevel": 18,
													"dateReleased": "2021-06-15",
													"categoryAlias": "films",
													"poster": { "src": "/images/641f4080944e8bd192d18318.jpg" },
													"rating": 7,
													"duration": 5892,
													"url": "/p/amerika-film",
													"addedToBookmarkAt": "2023-06-07T14:56:03.730Z"
												},
												{
													"name": "Снять блокировку",
													"shortDesc": "Жизнь женщины резко меняется из-за опасного незнакомца, который находит ее телефон и начинает отслеживать каждый шаг.",
													"trailer": {
														"_id": "63fded1598e2af31cb68b499",
														"src": "/videos/63fded1598e2af31cb68b498.mp4",
														"thumbnail": "/images/63fded1598e2af31cb68b49a.jpg"
													},
													"ageLevel": 16,
													"dateReleased": "2023-02-17",
													"categoryAlias": "films",
													"poster": { "src": "/images/63fded0598e2af31cb68b46f.jpg" },
													"rating": 6,
													"duration": 7063.708333,
													"url": "/p/snyat-blokirovku",
													"addedToBookmarkAt": "2023-06-07T14:56:00.297Z"
												}
											]
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/bookmarks": {
			"get": {
				"summary": "Профиль > Закладки",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количество пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"name": { "type": "string", "description": "Название фильма" },
													"shortDesc": { "type": "string", "description": "Краткое описание" },
													"trailer": {
														"type": "object",
														"properties": {
															"id": { "type": "string", "description": "Mongoose.ObjectId" },
															"src": {
																"type": "string",
																"description": "Путь к файлу изображению обложки"
															},
															"thumbnail": {
																"type": "string",
																"description": "Миниатюра (кадр из видео)"
															},
															"duration": { "type": "number", "description": "Длительность" }
														}
													},
													"ageLevel": { "type": "string", "description": "Возрастное ограничение" },
													"dateReleased": { "type": "Date", "description": "Дата релиза" },
													"categoryAlias": {
														"type": "string",
														"description": "Вид категориии. Может быть films, serials или collections"
													},
													"poster": {
														"type": "object",
														"properties": {
															"src": { "type": "string", "description": "Путь к файлу изображению" }
														}
													},
													"rating": { "type": "number", "description": "Рейтинг от 0 до 10" },
													"duration": {
														"type": "string",
														"description": "Длительность фильма в секундах"
													},
													"url": {
														"type": "string",
														"description": "Url к фильму? путь к фильму?"
													},
													"addedToFavoritesAt": {
														"type": "Date",
														"description": "Дата добавления фильма в раздел фаворитов"
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"totalSize": 2,
											"items": [
												{
													"name": "Америка: фильм",
													"shortDesc": "Вооруженный пилами Джордж Вашингтон объединяется с обожающим пиво друганом Сэмом Адамсом, чтобы приструнить британцев в ироничной комедии о Войне за независимость США.",
													"trailer": {
														"_id": "641bf64b0073f02ab65dde80",
														"src": "/videos/641bf64b0073f02ab65dde7f.mp4",
														"thumbnail": "/images/641bf64b0073f02ab65dde81.jpg"
													},
													"ageLevel": 18,
													"dateReleased": "2021-06-15",
													"categoryAlias": "films",
													"poster": { "src": "/images/641f4080944e8bd192d18318.jpg" },
													"rating": 7,
													"duration": 5892,
													"url": "/p/amerika-film",
													"addedToFavoritesAt": "2023-06-07T14:56:03.730Z"
												},
												{
													"name": "Снять блокировку",
													"shortDesc": "Жизнь женщины резко меняется из-за опасного незнакомца, который находит ее телефон и начинает отслеживать каждый шаг.",
													"trailer": {
														"_id": "63fded1598e2af31cb68b499",
														"src": "/videos/63fded1598e2af31cb68b498.mp4",
														"thumbnail": "/images/63fded1598e2af31cb68b49a.jpg"
													},
													"ageLevel": 16,
													"dateReleased": "2023-02-17",
													"categoryAlias": "films",
													"poster": { "src": "/images/63fded0598e2af31cb68b46f.jpg" },
													"rating": 6,
													"duration": 7063.708333,
													"url": "/p/snyat-blokirovku",
													"addedToFavoritesAt": "2023-06-07T14:56:00.297Z"
												}
											]
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/history": {
			"get": {
				"summary": "Профиль > История просмотров",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количествово пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"name": { "type": "string", "description": "Название фильма" },
													"shortDesc": { "type": "string", "description": "Краткое описание" },
													"trailer": {
														"type": "object",
														"properties": {
															"id": { "type": "string", "description": "Mongoose.ObjectId" },
															"src": {
																"type": "string",
																"description": "Путь к файлу изображению обложки"
															},
															"thumbnail": {
																"type": "string",
																"description": "Миниатюра (кадр из видео)"
															},
															"duration": { "type": "number", "description": "Длительность" }
														}
													},
													"ageLevel": { "type": "string", "description": "Возрастное ограничение" },
													"dateReleased": { "type": "Date", "description": "Дата релиза" },
													"categoryAlias": {
														"type": "string",
														"description": "Вид категориию. Может быть films, serials или collections"
													},
													"poster": {
														"type": "object",
														"properties": {
															"src": { "type": "string", "description": "Путь к файлу изображению" }
														}
													},
													"rating": { "type": "number", "description": "Рейтинг от 0 до 10" },
													"duration": {
														"type": "string",
														"description": "Длительность фильма в секундах"
													},
													"url": { "type": "string", "description": "Путь к фильму" },
													"moviepagelogs": {
														"type": "object",
														"properties": {
															"_id": {
																"type": "string",
																"description": "Id таблицы moviePageLogSchema (mongoose.Schema.Types.ObjectId)"
															},
															"count": {
																"type": "number",
																"description": "Kоличество просмотров фильма"
															},
															"updatedAt": {
																"type": "array",
																"items": { "type": "Date", "description": "Дата обновления" }
															}
														}
													},
													"lastLogUpdatedAt": {
														"type": "array",
														"items": { "type": "Date", "description": "Дата последнего обновления" }
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"totalSize": 2,
											"items": [
												{
													"name": "Америка: фильм",
													"shortDesc": "Вооруженный пилами Джордж Вашингтон объединяется с обожающим пиво друганом Сэмом Адамсом, чтобы приструнить британцев в ироничной комедии о Войне за независимость США.",
													"trailer": {
														"_id": "641bf64b0073f02ab65dde80",
														"src": "/videos/641bf64b0073f02ab65dde7f.mp4",
														"thumbnail": "/images/641bf64b0073f02ab65dde81.jpg"
													},
													"ageLevel": 18,
													"dateReleased": "2021-06-15",
													"categoryAlias": "films",
													"poster": { "src": "/images/641f4080944e8bd192d18318.jpg" },
													"rating": 7,
													"duration": 5892,
													"url": "/p/amerika-film",
													"moviepagelogs": {
														"_id": "64007d7d0a569a75e14fc2a1",
														"count": 1,
														"updatedAt": ["2023-06-07T16:15:48.5030000Z"]
													},
													"lastLogUpdatedAt": ["2023-06-07T16:15:48.503Z"]
												},
												{
													"name": "Денежный выстрел: История Pornhub",
													"shortDesc": "Проникните глубже в историю самой известной платформы для взрослых Pornhub и недавний скандал вокруг неё. Детская порнография, сексуальное насилие, половая эксплуатация, торговля людьми — это лишь небольшой перечень того, что было найдено на страницах всем известного сайта",
													"trailer": {
														"_id": "6419a8a30073f02ab65d4f07",
														"src": "/videos/6419a8a30073f02ab65d4f06.mp4",
														"thumbnail": "/images/6419a8a30073f02ab65d4f08.jpg"
													},
													"ageLevel": 18,
													"dateReleased": "2023-02-17",
													"categoryAlias": "films",
													"poster": { "src": "/images/63fded0598e2af31cb68b46f.jpg" },
													"rating": 10,
													"duration": 7063.708333,
													"url": "/p/snyat-blokirovku",
													"moviepagelogs": {
														"_id": "6419a7540073f02ab65d4e36",
														"count": 1,
														"updatedAt": ["2023-06-07T16:15:48.5030000Z"]
													},
													"lastLogUpdatedAt": ["2023-06-07T16:15:48.503Z"]
												}
											]
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/payment": {
			"get": {
				"summary": "Профиль > Подписка",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "cursorId",
						"schema": { "type": "number" },
						"description": "Mongoose.ObjectId документа из таблицы paymentlogs. Если он передается, то вернутся документы у которых id меньше чем заданный ( но зачем это надо?)"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"currentSubscribe": {
											"type": "object",
											"properties": {
												"startAt": {
													"type": "Date",
													"description": "Дата начала текущей подписки"
												},
												"finishAt": {
													"type": "Date",
													"description": "Дата окончания текущей текущей подписки"
												},
												"tariffId": {
													"type": "string",
													"description": "tariffId (mongoose.Schema.Types.ObjectId)"
												}
											}
										},
										"tariffs": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": { "type": "string", "description": "Id тарифа" },
													"name": { "type": "string", "description": "Название тарифа" },
													"price": { "type": "number", "description": "Цена тарифа" },
													"sort": {
														"type": "number",
														"description": "Сорт тарифа ( номер для сортировки )"
													},
													"hidden": {
														"type": "string",
														"description": "Название фильма",
														"required": false
													},
													"discount": { "type": "number", "description": "Cкидка" }
												}
											}
										},
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": { "type": "string", "description": "Id оплаты" },
													"type": { "type": "string", "description": "Тип оплаты" },
													"startAt": { "type": "Date", "description": "Дата оплаты" },
													"finishAt": {
														"type": "Date",
														"description": "Дата окончания срока действия оплаты"
													},
													"tariff": {
														"type": "object",
														"properties": {
															"_id": { "type": "string", "description": "Id тарифа" },
															"name": { "type": "string", "description": "Название тарифа" },
															"price": { "type": "number", "description": "Цена тарифа" }
														}
													}
												}
											}
										}
									}
								},
								"example": {
									"currentSubscribe": {
										"startAt": "2023-06-07T15:33:23.0680000Z",
										"finishAt": "2023-12-04T15:33:23.0680000Z",
										"tariffId": "63dbe1687f457bc81bc920cb"
									},
									"tariffs": [
										{
											"_id": "63dbda927f457bc81bc920c4",
											"name": "14 дней",
											"price": 0,
											"sort": 1,
											"hidden": true
										},
										{
											"_id": "63dbe11e7f457bc81bc920c9",
											"name": "1 месяц",
											"price": 199,
											"sort": 2
										},
										{
											"_id": "63dbe1447f457bc81bc920ca",
											"name": "3 месяца",
											"price": 499,
											"discount": 17,
											"sort": 3
										},
										{
											"_id": "63dbe1687f457bc81bc920cb",
											"name": "6 месяцев",
											"price": 899,
											"discount": 25,
											"sort": 4
										}
									],
									"totalSize": 1,
									"items": [
										{
											"_id": "6480a3432fc38dca80429f30",
											"type": "issued-by-admin",
											"startAt": "2023-06-07T15:33:23.068Z",
											"finishAt": "2023-12-04T15:33:23.068Z",
											"tariff": {
												"_id": "63dbe1687f457bc81bc920cb",
												"name": "6 месяцев",
												"price": 899
											}
										}
									]
								}
							}
						}
					}
				}
			}
		},
		"/profile/devices": {
			"get": {
				"summary": "Профиль > Мои устройства",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количество пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"userToken": { "type": "string", "description": "JWT Токен юзера" },
										"totalSize": {
											"type": "number",
											"description": "Общее количество устройств, с которых был выполнен вход"
										},
										"sessions": {
											"type": "array",
											"description": "Список сессий",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"token": { "type": "string", "description": "JWT Токен юзера" },
													"ip": { "type": "string", "description": "Ip адресс юзера" },
													"os": {
														"type": "string",
														"description": "Операционная система устройства"
													},
													"isBot": { "type": "boolean", "description": "Является ли юзер ботом" },
													"isMobile": {
														"type": "boolean",
														"description": "Является ли дейвайс мобильным устройством"
													},
													"isDesktop": {
														"type": "boolean",
														"description": "Является ли дейвайс десктопным устройством"
													},
													"browser": { "type": "string", "description": "Название браузера" },
													"version": { "type": "string", "description": "Версия браузера" },
													"platform": {
														"type": "string",
														"description": "Платформа устройства ( ос)"
													},
													"createdAt": { "type": "Date", "description": "Дата создания" },
													"_id": {
														"type": "string",
														"description": "Id сессии (mongoose.Schema.Types.ObjectId)"
													}
												}
											}
										}
									},
									"example": {
										"userToken": "iyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0ODA4MDdlOTA0ZDIwZTVkNGMxYjZkYiIsImlhdCI6MTY4NjE1Mzk2OSwiZXhwIjoxNzE3NzExNTY5fQ.vY6dB6oVVF05afwr9-aD0oHZkELKRKS5YiJwvQs4A3M",
										"totalSize": 2,
										"sessions": [
											{
												"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0ODA4MDdlOTA0ZDIwZTVkNGMxYjZkYiIsImlhdCI6MTY4NjE1Mzk2OSwiZXhwIjoxNzE3NzExNTY5fQ.vY6dB6oVVF05afwr9-aD0oHZkELKRKS5YiJwvQs4A3M",
												"ip": "::ffff:127.0.0.1",
												"os": "Linux 64",
												"isBot": "false,",
												"isMobile": "false,",
												"isDesktop": "true,",
												"browser": "Chrome",
												"version": "103.0.0.0",
												"platform": "Linux",
												"createdAt": "2023-06-07T16:06:09.306Z",
												"_id": "6480aaf12fc38dca8042a3b5"
											},
											{
												"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0ODA4MDdlOTA0ZDIwZTVkNGMxYjZkYiIsImlhdCI6MTY4NjE1Mzk2OSwiZXhwIjoxNzE3NzExNTY5fQ.vY6dB6oVVF05afwr9-aD0oHZkELKRKS5YiJwvQs4A3M",
												"ip": "::ffff:127.0.0.1",
												"os": "Linux 64",
												"isBot": "false,",
												"isMobile": "false,",
												"isDesktop": "true,",
												"browser": "Firefox",
												"version": "113.0",
												"platform": "Linux",
												"createdAt": "2023-06-07T16:06:09.306Z",
												"_id": "6480aaf12fc38dca8042a3b5"
											}
										]
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/notifications": {
			"get": {
				"summary": "Профиль > Список уведомлений для пользователя",
				"tags": ["Profile"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количество пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": {
														"type": "string",
														"description": "Id (mongoose.ObjectId) уведомления"
													},
													"title": { "type": "string", "description": "Название уведомления" },
													"description": {
														"type": "string",
														"description": "Описаниее в уведомлении",
														"required": false
													},
													"type": {
														"type": "string",
														"description": "Тип уведомления - premiere или system"
													},
													"willPublishedAt": {
														"type": "string",
														"description": "Планируемая дата публикации уведомления"
													},
													"link": { "type": "string", "description": "Ссылка" }
												}
											}
										}
									},
									"example": {
										"value": {
											"totalSize": 2,
											"items": [
												{
													"_id": "64dbd7c6706c0afda61f91dd",
													"title": "Новый сезон игры ВЛАСТЕЛИНА колец",
													"description": "Саруман возвращается",
													"type": "premiere",
													"willPublishedAt": "2022-04-04T00:00:00.000Z",
													"link": "https://kogdavyydet.com/shaman-king-2-sezon.html"
												},
												{
													"_id": "64dbd9ed44164b3fda7577d1",
													"title": "Новый сезон игры Друзей",
													"type": "premiere",
													"willPublishedAt": "2021-04-04T00:00:00.000Z",
													"link": "https://kogdavyydet.com/shaman-king-2-sezon.html"
												}
											]
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/notifications/markAsRead": {
			"patch": {
				"summary": "Профиль > Список уведомлений для пользователя",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"uniqueItems": true,
								"description": "Массив из Id уведомлений (mongoose.ObjectId)",
								"minItems": 0,
								"items": { "type": "string" }
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"msg": { "type": "string", "description": "Успешно обновлено" },
										"alert": { "type": "boolean", "description": true }
									},
									"example": { "type": "success", "alert": true, "msg": "Успешно обновлено" }
								}
							}
						}
					}
				}
			}
		},
		"/profile/notifications/settings": {
			"patch": {
				"summary": "Профиль > Настройка уведомлений ( включение и выключение определенных категорий)",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"description": "Ключи - виды уведомлений, значения - булевый тип, определяйющий включение если извлечение заданного типа уведомлений из списка выключенных уведомлений. False - для добавления заданного вида уведомлений в список выключенных, true - для извлечения из выключенных",
								"properties": {
									"SERVICE_NEWS": {
										"type": "boolean",
										"description": "Новости сервиса - уведомления о технических работах на сайте и новинках обновленного сервиса",
										"required": false
									},
									"GIFTS_AND_PROMOTIONS": {
										"type": "boolean",
										"description": "Подарки и акции - бонусы для пользователей",
										"required": false
									},
									"PROFILE": {
										"type": "boolean",
										"description": "Профиль - напоминание об окончании подписки и индивидуальные предложения",
										"required": false
									},
									"CINEMA_NEWS": {
										"type": "boolean",
										"description": "Новинки кинематографа",
										"required": false
									},
									"SERVICE_NOVELTIES": {
										"type": "boolean",
										"description": "Новинки на сервисе",
										"required": false
									},
									"FAVOTITES_AND_BOOKMARKS_NEWS": {
										"type": "boolean",
										"description": "Новинки из раздела \"избранное\" и \"буду смотреть\"",
										"required": false
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"msg": { "type": "string", "description": "Успешно обновлено" },
										"alert": { "type": "boolean", "description": true }
									},
									"example": { "type": "success", "alert": true, "msg": "Успешно обновлено" }
								}
							}
						}
					}
				}
			}
		},
		"/profile/phone/": {
			"patch": {
				"summary": "Профиль > Изменение номера телефона",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"phone": {
										"type": "string",
										"description": "Новый номер телефона. Он должен состоять из 11 цифр подряд, первая цифра 7."
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"msg": {
											"type": "string",
											"description": "Сообщение с кодом отправлено по указанному номеру телефона"
										},
										"alert": { "type": "boolean", "description": true }
									},
									"example": {
										"type": "success",
										"alert": true,
										"msg": "Сообщение с кодом отправлено по указанному номеру телефона"
									}
								}
							}
						}
					}
				}
			}
		},
		"/profile/change-phone/compare/": {
			"post": {
				"summary": "Профиль > Изменение номера телефона",
				"tags": ["Profile"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"phone": {
										"type": "string",
										"description": "Новый номер телефона. Он должен состоять из 11 цифр подряд, первая цифра 7.",
										"example": 79107718345
									},
									"code": {
										"type": "number",
										"description": "4 значный код подтверждения. Состоит из цифр",
										"example": 1234
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"msg": {
											"type": "string",
											"description": "Сообение \"Номер телефона обновлен\""
										},
										"alert": { "type": "boolean", "description": true }
									},
									"example": { "type": "success", "alert": true, "msg": "Номер телефона обновлен" }
								}
							}
						}
					}
				}
			}
		},
		"/admin/categories": {
			"get": {
				"summary": "Получение категорий",
				"tags": ["Admin"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"uniqueItems": true,
									"minItems": 2,
									"items": {
										"type": "object",
										"properties": {
											"_id": {
												"type": "string",
												"description": "Id (mongoose.ObjectId) категории"
											},
											"name": { "type": "string", "description": "Название категории" },
											"alias": { "type": "string", "description": "Алиас категории" },
											"aliasInUrl": { "type": "string", "description": "Алиас категории в url" },
											"genres": {
												"type": "array",
												"uniqueItems": true,
												"description": "Список жанров",
												"items": {
													"type": "object",
													"properties": {
														"name": { "type": "string", "description": "Название жанра" },
														"alias": { "type": "string", "description": "Алиас жанра" }
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": [
											{
												"_id": "63ab0d42f92598f4d7b7f7f2",
												"name": "Фильмы",
												"alias": "films",
												"aliasInUrl": "films",
												"genres": [
													{ "name": "Аниме", "alias": "anime" },
													{ "name": "Биографии", "alias": "biografii" },
													{ "name": "Боевики", "alias": "boeviki" },
													{ "name": "Вестерны", "alias": "vesterny" },
													{ "name": "Военные", "alias": "voennye" },
													{ "name": "Детективы", "alias": "detektivy" },
													{ "name": "Документальные", "alias": "dokumentalnye" },
													{ "name": "Драмы", "alias": "dramy" },
													{ "name": "Исторические", "alias": "istoricheskie" },
													{ "name": "Комедии", "alias": "komedii" },
													{ "name": "Короткометражки", "alias": "korotkometrazhki" },
													{ "name": "Криминал", "alias": "kriminal" },
													{ "name": "Мелодрамы", "alias": "melodramy" },
													{ "name": "Музыкальные", "alias": "muzykalnye" },
													{ "name": "Мультфильмы", "alias": "multfilmy" },
													{ "name": "Мюзиклы", "alias": "myuzikly" },
													{ "name": "Приключения", "alias": "priklyucheniya" },
													{ "name": "Семейные", "alias": "semeynye" },
													{ "name": "Спортивные", "alias": "sportivnye" },
													{ "name": "Триллеры", "alias": "trillery" },
													{ "name": "Ужасы", "alias": "uzhasy" },
													{ "name": "Фантастика", "alias": "fantastika" },
													{ "name": "Фэнтези", "alias": "fentezi" }
												]
											},
											{
												"_id": "63ab0d4bf92598f4d7b7f7f4",
												"name": "Сериалы",
												"alias": "serials",
												"aliasInUrl": "serialy",
												"genres": [
													{ "name": "Аниме", "alias": "anime" },
													{ "name": "Биографии", "alias": "biografii" },
													{ "name": "Боевики", "alias": "boeviki" },
													{ "name": "Вестерны", "alias": "vesterny" },
													{ "name": "Военные", "alias": "voennye" },
													{ "name": "Детективы", "alias": "detektivy" },
													{ "name": "Документальные", "alias": "dokumentalnye" },
													{ "name": "Драмы", "alias": "dramy" },
													{ "name": "Исторические", "alias": "istoricheskie" },
													{ "name": "Комедии", "alias": "komedii" },
													{ "name": "Короткометражки", "alias": "korotkometrazhki" },
													{ "name": "Криминал", "alias": "kriminal" },
													{ "name": "Мелодрамы", "alias": "melodramy" },
													{ "name": "Музыкальные", "alias": "muzykalnye" },
													{ "name": "Мультфильмы", "alias": "multfilmy" },
													{ "name": "Мюзиклы", "alias": "myuzikly" },
													{ "name": "Приключения", "alias": "priklyucheniya" },
													{ "name": "Семейные", "alias": "semeynye" },
													{ "name": "Спортивные", "alias": "sportivnye" },
													{ "name": "Триллеры", "alias": "trillery" },
													{ "name": "Ужасы", "alias": "uzhasy" },
													{ "name": "Фантастика", "alias": "fantastika" },
													{ "name": "Фэнтези", "alias": "fentezi" }
												]
											}
										]
									}
								}
							}
						}
					}
				}
			}
		},
		"/admin/notifications": {
			"get": {
				"summary": "Получение списка уведомлений",
				"tags": ["Admin"],
				"parameters": [
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Кол-во пропускаемых элементов из начала выборки"
					},
					{
						"in": "query",
						"name": "query",
						"schema": { "type": "number" },
						"description": "Для поиска документов (сущностей таблицы notifications) по совпадению названия"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": { "type": "string", "description": "Id уведомления" },
													"title": { "type": "string", "description": "Название уведомления" },
													"description": { "type": "string", "description": "Текст уведомления" },
													"type": {
														"type": "string",
														"description": "Тип уведомления  - 'SERVICE_NEWS', 'GIFTS_AND_PROMOTIONS','PROFILE', 'CINEMA_NEWS', 'SERVICE_NEWS','FAVOTITES_AND_BOOKMARKS_NEWS'"
													},
													"willPublishedAt": {
														"type": "date",
														"description": "Планируемая дата публикации"
													},
													"updatedAt": {
														"type": "date",
														"description": "Дата последнего изменения уведомления"
													},
													"status": {
														"type": "string",
														"description": "отложено если не указана дата публикации, сохранено если дата публикации еще наступила или опубликовано"
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"totalSize": 3,
											"items": [
												{
													"_id": "651c20546cc459f4ec4818e9",
													"title": "Премьера нового сезона дома дракона",
													"description": "Не пропустите!",
													"type": "PROFILE",
													"willPublishedAt": "2023-12-20T00:00:00.000Z",
													"updatedAt": "2023-10-03T14:08:20.551Z",
													"status": "отложено"
												},
												{
													"_id": "651f2a4dbf5691f20389f6f4",
													"title": "Премьера нового сезона сорвиголовы",
													"description": "Не пропустите!",
													"type": "PROFILE",
													"updatedAt": "2023-10-05T21:27:41.343Z",
													"willPublishedAt": null,
													"status": "сохранено"
												},
												{
													"_id": "651f2b8abf5691f20389fb41",
													"title": "Премьера нового сезона ведьмака",
													"description": "Не пропустите!",
													"type": "PROFILE",
													"willPublishedAt": "2023-08-20T00:00:00.000Z",
													"updatedAt": "2023-10-05T21:32:58.489Z",
													"status": "опубликовано"
												}
											]
										}
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"summary": "Загрузка уведомления",
				"tags": ["Admin"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "Исходник сам файл картинки уведомления"
									}
								}
							}
						},
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"title": { "type": "string", "description": "Название уведомления" },
									"description": {
										"type": "string",
										"description": "Описаниее в уведомлении",
										"required": false
									},
									"type": {
										"type": "string",
										"description": "Тип уведомления - premiere или system"
									},
									"willPublishedAt": {
										"type": "string",
										"description": "Планируемая дата публикации уведомления"
									},
									"link": { "type": "string", "description": "Ссылка" },
									"receiversIds": {
										"type": "array",
										"uniqueItems": true,
										"description": "Массив из Id получателей (mongoose.ObjectId). Если он не передается, то уведомление будет предназначено для всех пользователей",
										"minItems": 0,
										"items": { "type": "string" }
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"id": { "type": "string", "description": "id уведомления" },
										"success": { "type": "boolean", "description": true },
										"title": { "type": "string", "description": "Название уведомления" },
										"description": {
											"type": "string",
											"description": "Описаниее в уведомлении",
											"required": false
										},
										"type": {
											"type": "string",
											"description": "Тип уведомления - premiere или system"
										},
										"willPublishedAt": {
											"type": "string",
											"description": "Планируемая дата публикации уведомления"
										},
										"link": { "type": "string", "description": "Ссылка" },
										"receiversIds": {
											"type": "array",
											"uniqueItems": true,
											"description": "Массив из Id получателей (mongoose.ObjectId). Если этого поля нет, значит уведомление предназначено для всех пользователей",
											"minItems": 0,
											"items": { "type": "string" }
										},
										"img": {
											"type": "object",
											"properties": {
												"_id": { "type": "string", "description": "Id файла (mongoose.ObjectId)" },
												"src": { "type": "string", "description": "Ссылка на файл изображение" }
											}
										}
									},
									"example": {
										"success": true,
										"id": "64ece16991850d7975c3186a",
										"title": "Премьера нового сезона ведьмака",
										"description": "Не пропустите!",
										"type": "premiere",
										"willPublishedAt": "2023-08-20",
										"img": {
											"_id": "64ece16891850d7975c31868",
											"src": "/images/64ece16891850d7975c31869.jpg"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Обновление уведомления",
				"tags": ["Admin"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"file": {
										"type": "string",
										"format": "binary",
										"description": "Исходник сам файл картинки уведомления"
									}
								}
							}
						},
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"title": { "type": "string", "description": "Название уведомления" },
									"description": {
										"type": "string",
										"description": "Описаниее в уведомлении",
										"required": false
									},
									"type": {
										"type": "string",
										"description": "Тип уведомления - premiere или system"
									},
									"willPublishedAt": {
										"type": "string",
										"description": "Планируемая дата публикации уведомления"
									},
									"link": { "type": "string", "description": "Ссылка" },
									"receiversIds": {
										"type": "array",
										"uniqueItems": true,
										"description": "Массив из Id получателей (mongoose.ObjectId). Если он не передается, то уведомление будет предназначено для всех пользователей",
										"minItems": 0,
										"items": { "type": "string" }
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"msg": { "type": "string", "description": "Уведомление обновлено" },
										"alert": { "type": "boolean", "description": true }
									},
									"example": { "type": "success", "alert": true, "msg": "Уведомление обновлено" }
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Удаление уведомления",
				"tags": ["Admin"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"_id": { "type": "string", "description": "Id уведомления для удаления" }
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"type": { "type": "string", "description": "success" },
										"_id": { "type": "string", "description": "Id уведомления для удаления" },
										"msg": { "type": "string", "description": "Успешно удалено" },
										"alert": { "type": "boolean", "description": true }
									},
									"example": {
										"type": "success",
										"_id": "64d15212c3003ddd2d373642",
										"alert": true,
										"msg": "Успешно удалено"
									}
								}
							}
						}
					}
				}
			}
		},
		"/admin/notifications/count": {
			"get": {
				"summary": "Профиль > Количество просмотров у одного уведомления",
				"tags": ["Admin"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "id",
						"schema": { "type": "string" },
						"description": "Id(mongoose.ObjectId)уведомления, количество просмотров которого необходимо посмотреть"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Количество просмотров уведомления"
										},
										"id": { "type": "number", "description": "Id (mongoose.ObjectId) уведомления" }
									},
									"example": { "totalSize": 10, "id": "64d15212c3003ddd2d373642" }
								}
							}
						}
					}
				}
			}
		},
		"/admin/notifications/countAll": {
			"get": {
				"summary": "Профиль > Количество просмотров у всех уведомлений",
				"tags": ["Admin"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Количество пропускаемых элементов из начала выборки"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": {
														"type": "string",
														"description": "Id (mongoose.ObjectId) уведомления"
													},
													"title": { "type": "string", "description": "Название уведомления" },
													"description": {
														"type": "string",
														"description": "Описаниее в уведомлении",
														"required": false
													},
													"type": {
														"type": "string",
														"description": "Тип уведомления - premiere или system"
													},
													"updatedAt": { "type": "string", "description": "Дата обновления" },
													"img": {
														"type": "object",
														"properties": {
															"_id": { "type": "string", "description": "Id файла изображения" },
															"src": { "type": "string", "description": "Ссылка на изображения" }
														}
													},
													"watchingAmount": {
														"type": "number",
														"description": "Количество просмотров"
													}
												}
											}
										}
									},
									"example": {
										"totalSize": 2,
										"items": [
											{
												"_id": "64ece16991850d7975c3186a",
												"title": "Премьера нового сезона ведьмака",
												"description": "Не пропустите!",
												"type": "premiere",
												"img": {
													"_id": "64ece16891850d7975c31868",
													"src": "/images/64ece16891850d7975c31869.jpg"
												},
												"updatedAt": "2023-08-28T18:03:21.578Z",
												"watchingAmount": 7
											},
											{
												"_id": "64dbddb8b7ef836bbda14ad9",
												"title": "11 друзей оушена",
												"type": "premiere",
												"updatedAt": "2023-08-15T20:19:04.521Z",
												"watchingAmount": 10
											}
										]
									}
								}
							}
						}
					}
				}
			}
		},
		"/admin/users": {
			"get": {
				"summary": "Админ-панель > Пользователи",
				"tags": ["Admin"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "limit",
						"schema": { "type": "number" },
						"description": "Ограничение на максимальное количество элементов в теле ответа"
					},
					{
						"in": "query",
						"name": "skip",
						"schema": { "type": "number" },
						"description": "Кол-во пропускаемых элементов из начала выборки"
					},
					{
						"in": "query",
						"name": "query",
						"schema": { "type": "number" },
						"description": "Для поиска документов (сущностей таблицы users), с которыми совпадают символы в имени и емейлу. Либо для полного совпадения по id (mongoose.ObjectId)  пользователя"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"totalSize": {
											"type": "number",
											"description": "Общее количество сущностей в БД"
										},
										"items": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": { "type": "string", "description": "Profile id" },
													"role": {
														"type": "string",
														"required": false,
														"description": "Роль этого профиля. Admin, manager или если это обычный пользователь то это поле отсуствует."
													},
													"email": { "type": "string", "description": "Email user(profile)" },
													"avatar": {
														"type": "string",
														"description": "Path to img src profile user"
													},
													"firstname": { "type": "string", "description": "Имя этого человека" },
													"subscribe": {
														"type": "object",
														"description": "Информация по подписке. Если подписки нет, в этом поле null",
														"properties": {
															"startAt": { "type": "Date", "description": "Дата начала подписки" },
															"finishAt": {
																"type": "Date",
																"description": "Дата окончания подписки"
															},
															"tariffId": {
																"type": "string",
																"description": "Id тарифа (mongoose.ObjectId)"
															}
														}
													},
													"createdAt": { "type": "Date", "description": "Дата создания" },
													"updatedAt": { "type": "Date", "description": "Дата обновления" },
													"lastVisitAt": {
														"type": "Date",
														"description": "Дата последнего посещения"
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"totalSize": 2,
											"items": [
												{
													"_id": "6480807e904d20e5d4c1b6db",
													"email": "7on9911239@gmail.com",
													"avatar": null,
													"firstname": "Петр12",
													"subscribe": {
														"startAt": "2023-06-07T15:33:23.068Z",
														"finishAt": "2023-12-04T15:33:23.068Z",
														"tariffId": "63dbe1687f457bc81bc920cb"
													},
													"lastVisitAt": "2023-06-20T18:32:24.789Z",
													"createdAt": "2023-06-07T13:05:02.626Z",
													"updatedAt": "2023-06-18T14:42:03.013Z",
													"role": "admin"
												},
												{
													"_id": "63c8c56b6396809788dfdc9a",
													"email": "ejevika1412@yandex.ru",
													"avatar": "/images/63c8c56b6396809788dfdc99.jpg",
													"firstname": "Виктория",
													"lastVisitAt": "2023-01-19T05:43:12.968Z",
													"createdAt": "2023-01-19T04:22:03.047Z",
													"updatedAt": "2023-02-12T04:39:28.502Z",
													"subscribe": {
														"startAt": "2023-02-12T04:39:28.501Z",
														"finishAt": "2023-05-13T04:39:28.501Z",
														"tariffId": "63dbe1447f457bc81bc920ca"
													}
												}
											]
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/admin/users/profile": {
			"get": {
				"summary": "Админ-панель > Получение пользователя",
				"tags": ["Admin"],
				"parameters": [
					{ "$ref": "#/components/parameters/AuthorizationHeader" },
					{
						"in": "query",
						"name": "id",
						"schema": { "type": "string" },
						"description": "id пользователя (mongoose.ObjectId)"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"description": "Общее количество сущностей в БД",
											"properties": {
												"_id": { "type": "string", "description": "Profile id" },
												"role": {
													"type": "string",
													"required": false,
													"description": "Роль этого профиля. Admin, manager или если это обычный пользователь то это поле отсуствует."
												},
												"email": { "type": "string", "description": "Email user(profile)" },
												"avatar": {
													"type": "string",
													"description": "Path to img src profile user"
												},
												"firstname": { "type": "string", "description": "Имя этого человека" },
												"deleted": {
													"type": "boolean",
													"description": "Удален ли аккаунт. Если не удален, этого поля нет",
													"required": false
												},
												"subscribe": {
													"type": "object",
													"description": "Информация по подписке. Если подписки нет, в этом поле null",
													"properties": {
														"startAt": { "type": "Date", "description": "Дата начала подписки" },
														"finishAt": {
															"type": "Date",
															"description": "Дата окончания подписки"
														},
														"tariffId": {
															"type": "string",
															"description": "Id тарифа (mongoose.ObjectId)"
														}
													}
												}
											}
										},
										"tariffs": {
											"type": "array",
											"uniqueItems": true,
											"minItems": 0,
											"items": {
												"type": "object",
												"properties": {
													"_id": { "type": "string", "description": "Profile id" },
													"name": { "type": "string", "description": "Название тарифа" },
													"price": { "type": "number", "description": "Цена тарифа" },
													"sort": { "type": "string", "description": "Сорт тарифа?" },
													"hidden": {
														"type": "boolean",
														"description": "Скрыт ли тариф",
														"required": false
													}
												}
											}
										}
									}
								},
								"examples": {
									"example": {
										"value": {
											"user": {
												"email": "ovodenko.ksenia@yandex.ru",
												"avatar": null,
												"firstname": "ксения",
												"subscribe": {
													"startAt": "2023-02-12T04:39:28.501Z",
													"finishAt": "2023-05-13T04:39:28.501Z",
													"tariffId": "63dbe1447f457bc81bc920ca"
												}
											},
											"tariffs": [
												{
													"_id": "63f7537f841f04f2348f8de5",
													"name": "7 дней",
													"price": 0,
													"sort": 0
												},
												{
													"_id": "63dbda927f457bc81bc920c4",
													"name": "14 дней",
													"price": 0,
													"sort": 1,
													"hidden": true
												},
												{
													"_id": "63dbe11e7f457bc81bc920c9",
													"name": "1 месяц",
													"price": 199,
													"sort": 2
												},
												{
													"_id": "63dbe1447f457bc81bc920ca",
													"name": "3 месяца",
													"price": 499,
													"discount": 17,
													"sort": 3
												},
												{
													"_id": "63dbe1687f457bc81bc920cb",
													"name": "6 месяцев",
													"price": 899,
													"discount": 25,
													"sort": 4
												}
											]
										}
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Админ-панель > Обновления пользователя",
				"tags": ["Admin"],
				"parameters": [{ "$ref": "#/components/parameters/AuthorizationHeader" }],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"id": { "type": "string", "description": "Id пользователя (mongoose.ObjectId)" },
									"role": {
										"type": "string",
										"description": "Admin, manager или если это обычный пользователь то это поле отсуствует."
									},
[...]
